{% extends 'layouts/app.html' %}

<!-- Inicio bloque body -->
{% block body %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal" method="POST" action="{{url_for('producto_route.update', id = producto.id)}}" enctype="multipart/form-data">
          
            <div class="col-md-12">
              <label for="producto" class="form-label">Categoría</label>
              <input type="text" class="form-control" value="{{producto.nom_prod}}" name="nom_prod" required>
              <input type="number" required value="{{producto.precio}}" name="precio" min="0" step=".01" class="form-control"
                 required>

              <input type="text" class="form-control" value="{{producto.desc_prod}}" name="desc_prod" required>
              <div>
                Tipo 
                </div>
                <div class="input-group mb-3">
                  <input type="radio" id="torta" name="tipo" value="torta"
                         checked>
                  <label for="torta">Torta</label>
                </div>   
                <div class="input-group mb-3">
                  <input type="radio" id="masita" name="tipo" value="masita">
                  <label for="masita">Masita</label>
                </div>
                <div class="input-group mb-3">
                  <input type="radio" id="pan" name="tipo" value="pan">
                  <label for="pan">Pan</label>
                </div>
              
              <div class="image">
                <img id="preview" class="profile-user-img img-fluid"
                src="{{ url_for('static', filename='img/' + producto.picture_prod) }}"
                alt="profile">
                <input type="file" name="file" id="file" accept="image/*"/>
              </div>
              
              <div class="valid-feedback">
                Los datos son requeridos.
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">ACTUALIZAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
  function init() {
        var inputFile = document.getElementById('file');
        inputFile.addEventListener('change', mostrarImagen, false);
    }

    function mostrarImagen(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = document.getElementById('preview');
            img.src = event.target.result;
        }
        reader.readAsDataURL(file);
    }

    window.addEventListener('load', init, false);
</script>
{% endblock %}
<!-- Fin bloque scripts -->