{% extends 'layouts/app.html' %}

<!-- Inicio bloque body -->
{% block body %}
  <br>
  <br><br>
  <section class="container text-center">
    <div class="content">
      <div class="row"> 
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Hey!</strong> {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
         
            {% endfor%}
            {% endif %}
            {% endwith%}

            <h1 style="color: beige;">PRODUCTOS</h1>
            <br>
            <br>
            <p>
              <a href="{{url_for('producto_route.create')}}" class="btn btn-light my-2">NUEVO PRODUCTO</a>
            </p>
      </div>
      <br>
      <div class="container bg-light" > 
        <table id="mytable" class="display nowrap table-light" style="width:100%">
          <thead>
              <tr>
                <th>Nombre Producto</th>
                <th>Costo</th>
               <!-- <th>Usuario</th>-->
                <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
            {% for data in producto %}
            <tr>
               <!--<td>{{data.id}}</td>-->
              <td>{{data.nom_prod}}</td>
              <td>{{data.costo}}</td>
              <!--<td>{{data.user_id}}</td>-->
              <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('producto_route.delete', id = data.id)}}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('producto_route.edit', id = data.id)}}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a></td>
            </tr>
            {% endfor %}  
          </tbody>
          <tfoot>
              <tr>
                <th>Nombre Producto</th>
                <th>Costo</th>
                <!--<th>Usuario</th>-->
                <th>Acciones</th>
              </tr>
          </tfoot>
      </table>
      
      
      </div>
 </section>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}
<link rel="stylesheet" href="">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

<script>
    //alert("HOLA ESTE SON PRODUCTOS")
</script>


<script>
  $(document).ready(function() {
    var table = $('#mytable').DataTable( {
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true
    } );
} );
</script>
{% endblock %}
<!-- Fin bloque scripts -->
