{% extends 'layouts/app.html' %}

<!-- Inicio bloque body {}-->
{% block body %}

<section class="py-2 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">

      <h1 class="fw-light">USUARIOS</h1>
      <p class="lead text-muted">Inicio de Usuarios</p>

    </div>
  </div>
</section>

<section class="container my-5">
  <div class="content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Hey!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor%}
    {% endif %}
    {% endwith%}
    <div class="container bg-light">
      <table id="mytable" class="display nowrap table-light" style="width:100%">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for data in usuarios %}
          <tr>
            <td>{{data.nombre}}</td>
            <td>{{data.email}}</td>
            <td>{{data.rol_usuario}}</td>

            <td>
              <a href="javascript:void(0)" onclick="cambiarRol('{{ data.id }}')"
                class="btn btn-primary btn-sm">Actualizar</a>
              <a onclick="return confirm('Desea eliminar este Usuario?')"
                href="{{url_for('usuario_route.eliminar', id = data.id)}}" class="btn btn-danger btn-sm ">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
      </table>


    </div>
  </div>
</section>

<!-- modal -->
<div class="modal fade" id="cambiarRolModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambio de Rol de Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-horizontal" method="POST" action="{{url_for('usuario_route.cambiarRol')}}">
        <div class="modal-body">
          <input type="hidden" id="idusuario" name="id">
          <div class="row">
            <div class="form-check col-sm-6">
              <input class="form-check-input" type="radio" name="evento" value="1">Cliente
            </div>
            
            <div class="form-check col-sm-6">
              <input class="form-check-input" type="radio" name="evento" value="2">Repartidor
            </div>
            <div class="form-check col-sm-6">
              <input class="form-check-input" type="radio" name="evento" value="3">Cheff
            </div>
            <div class="form-check col-sm-6">
              <input class="form-check-input" type="radio" name="evento" value="4">Operador
            </div>
            <div class="form-check col-sm-6">
              <input class="form-check-input" type="radio" name="evento" value="5">Admin
            </div>
          </div>
          <div class="form-row">
            <input class="form-control col-sm-4" min="1" id="rol" name="rol" type="text" readonly>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>


    </div>
  </div>
</div>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>


<script>
  //alert("HOLA ESTE SON PRODUCTOS")
  $(document).ready(function () {

    $('input:radio[name=evento]').change(function () {
      if (this.value == '1') {
        $('#rol').val('cliente');
      } else if(this.value == '2') {
        $('#rol').val('repartidor');
      }
      else if(this.value == '3') {
        $('#rol').val('cheff');
      }else if(this.value == '4') {
        $('#rol').val('operador');
      }else if(this.value == '5') {
        $('#rol').val('admin');
      }
    });


    var table = $('#mytable').DataTable({
      rowReorder: {
        selector: 'td:nth-child(2)'
      },
      responsive: true,
      "language": {
        "lengthMenu": "Mostrar " +
          '<select class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="-1">All</option></select>' +
          " registros por página",
        "zeroRecords": "No existe registros - discupa",
        "info": "Mostrando la pagina _PAGE_ de _PAGES_",
        "infoEmpty": "No records available",
        "infoFiltered": "(filtrado de _MAX_ registros totales)",
        "search": "Buscar:",
        "paginate": {
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
    });
  });
  ///Abrir modal
  function cambiarRol(id) {
    //var cantidad = $('#cantidad').val();
    $.ajax({
      url: "/usuario/obtenerusuario/" + id,
      type: 'GET',
      success: function (data) {
        $('#idusuario').val(id);
        $('#rol').val(data);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert('error');
      }
    });

    $('#cambiarRolModal').modal('show');

  }

</script>
{% endblock %}
<!-- Fin bloque scripts -->