{% extends 'layouts/app.html' %}

<!-- Inicio bloque body {}-->
{% block body %}

<div class="album py-5">
  <div class="container">
    <!-- admin -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Hey!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor%}
    {% endif %}
    {% endwith%}
    <!-- amdin -->
    <section class="py-2container">
        <div class="row">
          <div class="mx-auto">
  
            <h3 class="fw-light">Lista de facturas</h3>
  
          </div>
        </div>
      </section>
    <div class="row">

      <table id="tblCarrito" class="display" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for row in facturas %}
          <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.fecha }}</td>
            <th>Cliente</th>
            <td>{{ row.total }}</td>
            <td>
              <a href="/factura/detalle/{{row.id}}" class="btn btn-primary btn-sm">Detalle</a>
            </td>
          </tr>
          {% endfor%}
          
          
        </tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><b>TOTAL: </b></td>
          <td> <b>{{ total }}</b> </td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">
{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>

<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>

<script>

  $(document).ready(function () {
    var table = $('#tblCarrito').DataTable({
      processing: true,
      //serverSide: true,
      responsive: true,
      autoWidth: false,
      destroy: true,
      /* order: [
          [0, 'desc']
      ], */
      "language": {
        "lengthMenu": "Mostrar " +
          '<select class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="-1">All</option></select>' +
          " registros por página",
        "zeroRecords": "No existe registros - discupa",
        "info": "Mostrando la pagina _PAGE_ de _PAGES_",
        "infoEmpty": "No records available",
        "infoFiltered": "(filtrado de _MAX_ registros totales)",
        "search": "Buscar:",
        "paginate": {
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
    });
    
  });

  function detalleFactura(id){
    //var cantidad = $('#cantidad').val();
    $.ajax({
        url: "/client/micarrito/getcarrito/"+id,
        type: 'GET',
        success: function (data) {
          /* var json = $.parseJSON(
              data); */ // create an object with the key of the array
          $('#idped').val(id);
          $('#cantidad').val(data);
          //console.log('Todo salió bien');
          //window.location.reload(true);

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert('error');
        }
      });

    $('#cantidadModal').modal('show');

  }
  /* $('#cantidadModal').modal({
        backdrop: 'static',
        keyboard: true,
        show: true
    }); */
</script>
{% endblock %}
<!-- Fin bloque scripts -->
