{% extends 'layouts/appclient.html' %}

<!-- Inicio bloque body {}-->
{% block body %}

<div class="album py-5">
  <div class="container">
    <!-- admin -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Hey!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor%}
    {% endif %}
    {% endwith%}
    <!-- amdin -->
    <div class="row">

      <table id="tblCarrito" class="display" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for row in carrito %}
          <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.cantidad }}</td>
            <td>{{ row.usuario.nombre }}</td>
            <td>{{ row.producto.nom_prod }}</td>
            <th>
              {% if row.estado == 1 %}
                <span class="badge badge-success"> FAVORITO </span>
              {% elif row.estado == 2 %}
                <span class="badge badge-success text-success"> CARRITO </span>
              {% elif row.estado == 3 %}
                <span class="badge badge-success text-dark"> PENDIENTE </span>
              {% else %}
                <span class="badge badge-success"> ENTREGADO </span>
              {% endif %}
            </th>
            <td>
              <a href="javascript:void(0)" onclick="agregarCantidad('{{ row.id }}')" class="btn btn-primary btn-sm">Cantidad</a>
              <a href="/client/micarrito/quitar/{{row.id}}"
                class="btn btn-danger btn-delete btn-sm">Quitar</a>
            </td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
      <div>
        <a href="{{url_for('client_router.pocesarPedido')}}" class="btn btn-primary">Procesar carrito</a>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="cantidadModal" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cantidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form-horizontal" method="POST" action="{{url_for('client_router.agregarCantidad')}}">
        <div class="modal-body">
          <input type="text" id="idped" name="id" hidden>
          <div class="row">
            <div class="form-row">
              <label class="col-sm-3 col-form-label">Cantidad</label>
              <input class="form-control col-sm-4" min="1" id="cantidad" name="cantidad" type="number">
            </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
      
      
    </div>
  </div>
</div>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">
{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>

<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>

<script>

  $(document).ready(function () {
    var table = $('#tblCarrito').DataTable({
      processing: true,
      //serverSide: true,
      responsive: true,
      autoWidth: false,
      destroy: true,
      /* order: [
          [0, 'desc']
      ], */
      "language": {
        "lengthMenu": "Mostrar " +
          '<select class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="-1">All</option></select>' +
          " registros por página",
        "zeroRecords": "No existe registros - discupa",
        "info": "Mostrando la pagina _PAGE_ de _PAGES_",
        "infoEmpty": "No records available",
        "infoFiltered": "(filtrado de _MAX_ registros totales)",
        "search": "Buscar:",
        "paginate": {
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
    });
    
  });

  function agregarCantidad(id){
    //var cantidad = $('#cantidad').val();
    $.ajax({
        url: "/client/micarrito/getcarrito/"+id,
        type: 'GET',
        success: function (data) {
          /* var json = $.parseJSON(
              data); */ // create an object with the key of the array
          $('#idped').val(id);
          $('#cantidad').val(data);
          //console.log('Todo salió bien');
          //window.location.reload(true);

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert('error');
        }
      });

    $('#cantidadModal').modal('show');

  }
  /* $('#cantidadModal').modal({
        backdrop: 'static',
        keyboard: true,
        show: true
    }); */
</script>
{% endblock %}
<!-- Fin bloque scripts -->
